name: Release workflow

on:
  push:
    tags:
      - 'v*'

jobs:
  build-linux-static:

    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal:latest-alpine

    steps:
    - uses: actions/checkout@v6
    - name: Install packages
      run: apk --update --no-cache add upx yaml-static
    - name: Install dependencies
      run: shards install --production
    - name: Build
      run: shards build --release --static --stats --progress --no-debug --local --production
    - name: Strip
      run: strip bin/reqs-up && upx -9 bin/reqs-up
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v6
      with:
        name: reqs-up-linux-static
        path: ./bin/reqs-up

  build-macos:
    runs-on: macos-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Install Crystal
      uses: crystal-lang/install-crystal@v1
    - name: Install dependencies
      run: shards install --production
    - name: Build the binary
      run: shards build --release --stats --progress --no-debug --local --production
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v6
      with:
        name: reqs-up-macos
        path: ./bin/reqs-up

  release:
    needs: [build-linux-static, build-macos]
    runs-on: ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v7
      with:
        path: ./artifacts
    - name: Create Release
      id: create_release
      uses: ncipollo/release-action@v1.20.0
      with:
        generateReleaseNotes: true
    - name: Attach linux binary
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./artifacts/reqs-up-linux-static/reqs-up
        asset_name: reqs-up-linux-static
        asset_content_type: application/binary
    - name: Attach macOS binary
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./artifacts/reqs-up-macos/reqs-up
        asset_name: reqs-up-macos
        asset_content_type: application/binary
